<html>
<body>
<pre>
<h1>礦ision Build Log</h1>
<h2>Project:</h2>
F:\资料重新整理\单片机参考资料\cortex-M4\st\stm32f429\code\template\MDK\GPIO.uvproj
Project File Date:  07/23/2014

<h2>Output:</h2>
Build target 'Target 1'
compiling main.c...
linking...
Program Size: Code=3220 RO-data=460 RW-data=36 ZI-data=1028  
".\Output\GPIO.axf" - 0 Error(s), 0 Warning(s).
Load "F:\\资料重新整理\\单片机参考资料\\cortex-M4\\st\\stm32f429\\code\\template\\MDK\\Output\\GPIO.axf" 
Error: Flash Download failed  -  Target DLL has been cancelled
Load "F:\\资料重新整理\\单片机参考资料\\cortex-M4\\st\\stm32f429\\code\\template\\MDK\\Output\\GPIO.axf" 
Erase Done.
Programming Done.
Verify OK.
</pre>
</body>
</html>
f4xx_exti.c...
compiling stm32f4xx_flash.c...
compiling stm32f4xx_fmc.c...
compiling stm32f4xx_gpio.c...
compiling stm32f4xx_hash.c...
compiling stm32f4xx_hash_md5.c...
compiling stm32f4xx_hash_sha1.c...
compiling stm32f4xx_i2c.c...
compiling stm32f4xx_iwdg.c...
compiling stm32f4xx_ltdc.c...
compiling stm32f4xx_pwr.c...
compiling stm32f4xx_rcc.c...
compiling stm32f4xx_rng.c...
compiling stm32f4xx_rtc.c...
compiling stm32f4xx_sai.c...
compiling stm32f4xx_sdio.c...
compiling stm32f4xx_spi.c...
compiling stm32f4xx_syscfg.c...
compiling stm32f4xx_tim.c...
compiling stm32f4xx_usart.c...
compiling stm32f4xx_wwdg.c...
compiling main.c...
..\main\main.c(57): warning:  #550-D: variable "GPIO_InitStructure" was set but never used
    GPIO_InitTypeDef GPIO_InitStructure;
..\main\main.c: 1 warning, 0 errors
linking...
Program Size: Code=2292 RO-data=460 RW-data=36 ZI-data=1028  
".\Output\GPIO.axf" - 0 Error(s), 1 Warning(s).
