<html>
<body>
<pre>
<h1>礦ision Build Log</h1>
<h2>Project:</h2>
F:\资料重新整理\单片机参考资料\cortex-M4\st\stm32f429\code\template\MDK\GPIO.uvproj
Project File Date:  07/22/2014

<h2>Output:</h2>
Build target 'Target 1'
compiling system_stm32f4xx.c...
assembling startup_stm32f429_439xx.s...
compiling main.c...
linking...
Program Size: Code=880 RO-data=460 RW-data=20 ZI-data=1636  
".\Output\GPIO.axf" - 0 Error(s), 0 Warning(s).
o).
Not enough information to list image symbols.
Finished: 1 information, 0 warning and 2 error messages.
".\GPIO.axf" - 2 Error(s), 0 Warning(s).
Target not created
axf" - 2 Error(s), 0 Warning(s).
Target not created
5: #error directive: "Please select first the target STM32F4xx device used in your application (in stm32f4xx.h file)"
   #error "Please select first the target STM32F4xx device used in your application (in stm32f4xx.h file)"
..\main\main.c: 0 warnings, 1 error
".\GPIO.axf" - 2 Error(s), 0 Warning(s).
Target not created
r(s), 0 Warning(s).
Target not created
